<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

  <title>{{portfolio.name}}</title>

  <link href="https:///maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style type="text/css">
    {{{css}}}
  </style>
  </head>
  <body>

    <div class="container-fluid">
      <div class="theme theme-dius">
        <div class="container portfolio-container">

          <header>
            <div class="row">
              <div class="col-md-12">
                <p class="visible-print pull-right">DiUS Computing Pty. Ltd.</p>
                <a class="logo hidden-print" href="http://dius.com.au" target="_blank" alt="DiUS Computing Pty. Ltd."></a>
              </div>
            </div>
          </header>

          {{#if portfolio.name }}
          <div class="row">
            <div class="col-md-12">
              <h2>{{portfolio.name}}</h2>
            </div>
          </div>
          {{/if}}

          {{#if portfolio.comment }}
          <div class="row">
            <div class="col-md-12">
              <div>
                <p>{{portfolio.comment}}</p>
            </div>
          </div>
          {{/if}}


          <div class="row">
            <div class="col-md-12">
              <h3>Team members:</h3>
              <div style="position: relative;">
                <div class="profiles">
                  <div class="row">
                    {{#each portfolio.snapshots}}
                    <div class="profile-col-default">
                      <a href="///{{domain}}{{path}}" target="_parent">
                        <div class="profile">
                          <div class="profile-header">
                            <div class="image-wrapper">
                              <img src="{{this.profile.about.photo_url}}">
                            </div>
                          </div>

                          <div class="profile-content">
                            <h4>{{this.profile.about.name}}</h4>
                            <h5>{{this.profile.about.title}}</h5>
                          </div>
                        </div>
                      </a>
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Contact details:</h3>
              <div style="position: relative;">
                <dl class="dl-horizontal">
                  <dt>Name</dt>
                  <dd>{{portfolio.contact.name}}</dd>
                  <dt>Phone</dt>
                  <dd>{{portfolio.contact.number}}</dd>
                  <dt>Email</dt>
                  <dd>{{portfolio.contact.email}}</dd>
                </dl>
              </div>
            </div>
          </div>


        <footer>
          <div class="row">
            <div class="col-md-12">
            </div>
          </div>
        </footer>


      </div>
    </div>
  </body>
</html>

