<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

  <title>{{profile.name}}</title>

  <link rel="stylesheet" href="https://static.precise.io/precise-theme-starter/assets/plugins/bootstrap/css/bootstrap-no-print.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style type="text/css">
    {{{css}}}
  </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="theme theme-dius">
        <div class="container">

          <header></header>

          <div class="row">
            <div class="col-md-4">
              <div>
                <div class="hero-image">
                    <img width="300" height="300" src="{{profile.about.photo_url}}">
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="big">{{profile.about.name}}</div>
              <div>
                <p class="biggish">
                  {{profile.about.title}}
                </p>
              </div>
              {{#if profile.about.bio }}
              <div class="hero-text">
                <div>
                  {{{md profile.about.bio}}}
                </div>
              </div>
              {{/if}}
              <div class="skills">
                <section class="skills">
                  <h3>
                    Core expertise
                  </h3>
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-inline well well-sm">
                        {{#each profile.skills}}
                        <li>
                          <span>{{this.name}}</span>
                        </li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>

          <div class="row">
            {{#if profile.experience}}
            <div class="col-md-8">
              <section class="experiences">
                <h3>
                  Selected experience
                </h3>
                <div class="experiences">
                  {{#each profile.experience}}
                  <div class="well well-sm experience">
                    <div class="row">
                      <div class="col-md-12" style="position: relative;">
                        <h4>{{{md this.place}}}</h4>
                        <h5>{{{md this.role}}}</h5>
                        <p class="period">{{this.period}}</p>
                        {{#if this.description}}
                        <span>{{{md this.description}}}</span>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  {{#if this.projects}}
                  {{#each this.projects}}
                  <div class="row">
                    <div class="col-md-12" style="position: relative;">
                      <h6>{{this.title}} - {{this.period}}</h6>
                      <span>{{{md this.description}}}</span>
                    </div>
                  </div>
                  {{/each}}
                  {{/if}}
                  {{#unless @last}}
                    <hr class="divider">
                  {{/unless}}
                  {{/each}}
                </div>
              </section>
            </div>
            {{/if}}

            <div class="col-md-4">
              {{#if profile.about.passion }}
              <div class="row">
                <div class="col-md-12">
                  <section class="passion">
                    <h3>Passionate about</h3>
                    <div class="row">
                      <div class="col-md-12">
                        {{{md profile.about.passion}}}
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              {{/if}}

              {{#if profile.education}}
              <div class="row">
                <div class="col-md-12">
                  <section class="eduction">
                    <h3>Education and Training</h3>
                    {{#each profile.education}}
                    <div class="well well-sm">
                      <div>
                        <p>{{this.period}} {{this.place}}</p>
                        <p>{{this.description}}</p>
                      </div>
                    </div>
                    {{#unless @last}}
                      <hr class="divider">
                    {{/unless}}
                    {{/each}}
                  </section>
                </div>
              </div>
              {{/if}}

              {{#if profile.conferences}}
              <div class="row">
                <div class="col-md-12">
                  <section class="conferences">
                    <h3>Conferences</h3>
                    {{#each profile.conferences}}
                    <div class="well well-sm">
                      <div>
                        <p>{{this.title}}</p>
                        <p>{{this.place}}</p>
                      </div>
                    </div>
                    {{#unless @last}}
                      <hr class="divider">
                    {{/unless}}
                    {{/each}}
                  </section>
                </div>
              </div>
              {{/if}}

              {{#if profile.certifications}}
                <div class="row">
                  <div class="col-md-12">
                    <section class="certifications">
                      <h3>
                        Certifications
                      </h3>
                      {{#each profile.certifications}}
                      <div class="well well-sm">
                        <div>
                          <p class="certification">
                            <span class="name">{{this.name}}</span>
                            {{#if this.period}} <span>({{this.period}})</span> {{/if}}
                            <span>{{this.place}}</span>
                          </p>
                        </div>
                      </div>
                      {{#unless @last}}
                        <hr class="divider">
                      {{/unless}}
                      {{/each}}
                    </section>
                  </div>
                </div>
              {{/if}}

            </div>
          </div>

          <footer>
            <div class="row">
              <div class="col-md-12">
                {{#if profile.network}}
                  <ul class="links list-inline">
                    {{#each profile.network}}
                    <li style="position: relative">
                      <a class="pull-left" href="{{this.url}}" title="{{this.title}}" target="_blank">
                        <i style="font-size: 32px; padding: 0 5px" class="fa fa-{{logo this.type}}"></i>
                      </a>
                    </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            </div>
          </footer>

          <p class="download">
            <sub class="pull-right">
              {{#if profile.links.pdf}}
                <a href="{{profile.links.pdf}}">Download Printable Version</a>
                |
              {{/if}}
              Confidential profile of {{profile.about.name}}
            </sub>
          </p>

        </div>
      </div>
    </div>
  </body>
</html>
